.innerSection {
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    flex-wrap: wrap;

    gap: 20px;
}

.newsContainer {
    width: 49%;
    height: 260px;

    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgba(0 0 0 / .5);
}

.addNews {
    width: 49%;
    height: 260px;

    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgba(0 0 0 / .5);

    line-height: 260px;
    text-align: center;
    font-size: 10em;
    color:rgba(0 0 0 / .5);
    user-select: none;
    
    transition: ease-in-out 100ms;

    background:rgb(225, 234, 255);
}

.addNews:hover {
    color:rgba(135, 156, 187, 0.863);
}

.newsPreview {
    width: 100%;
    height: 200px;

    background: url("../../static/bg.jpg");
    background-size: cover;

    border-radius: 10px 10px 0 0;
}

.newsTitle {
    height: 50px;
    padding: 20px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.remover {
    position: relative;
    bottom: calc(112% - 10px);
    left: calc(100% - 30px - 10px);

    width: 30px;
    height: 30px;

    background-color: white;
    color: #de3950;
    line-height: 30px;
    text-align: center;

    border-radius: 100%;

    transition: ease-in-out 100ms;

    user-select: none;
}

.remover:hover {
    background-color: #de3950;
    color: white;
}