.innerSection {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    gap: 20px;
}

.servicesBox {
    width: 45%;
    height: 420px;
    padding: 20px;

    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;

    /* gap: 20px; */

    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgba(0 0 0 / .5);
    line-height: 50px;

    background:rgb(245, 226, 214);
}

.addBox {
    width: 45%;
    height: 420px;
    padding: 20px;

    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgba(0 0 0 / .5);

    line-height: 420px;
    text-align: center;
    font-size: 10em;
    color:rgba(0 0 0 / .5);
    user-select: none;

    transition: ease-in-out 100ms;

    background:rgb(245, 226, 214);
}

.addBox:hover {
    color:rgb(255, 196, 160);
}

input {
    width: 100%;
    border: none;

    /* padding: 10px 0; */

    font-weight: 100;
    font-family: BeVietnamPro;
    font-size: 1em;

    box-shadow: 0 1px 0 0 black;

    background:rgb(245, 226, 214);
}

label {
    font-size: 0.8em;
    font-weight: 900;
}

*:focus {
    outline: none;
}

.remover {
    position: relative;
    bottom: 106%;
    left: 100%;

    width: 30px;
    height: 30px;

    background-color: white;
    color: #de3950;
    line-height: 30px;
    text-align: center;

    border-radius: 100%;

    transition: ease-in-out 100ms;

    user-select: none;
}

.remover:hover {
    background-color: #de3950;
    color: white;
}

.saveButton {
    width: 100px;
    height: 50px;
    
    margin-right: calc(100% - 100px);
    margin-top: 10px;

    background: rgb(248, 126, 122);
    color: white;

    line-height: 50px;
    text-align: center;

    border-radius: 10px;
    box-shadow: 0 5px 5px -5px rgb(248, 126, 122);

    transition: ease-in-out 300ms;
}

.saveButton:hover {
    background: white;
    color: rgb(248, 126, 122);
}